{% extends '_main.twig' %}

{% block head_style %}
{% endblock %}

{% block footer_inner__ %}
    <div class="footer--end">
        <p class="center">
            © 2015 - 2020
            <a href="https://mlbr.xyz">Michael Becker</a>,
            <a href="https://bemit.eu">bemit<small> UG (haftungsbeschränkt)</small></a>
        </p>
    </div>
{% endblock %}
