{% extends '_base.twig' %}

{% block content %}
    <section class="px2">
        <h1>Blog</h1>
        <a href="/">Home</a>
        <pre><code>
{{ content|raw }}
    </code></pre>
    </section>
{% endblock %}
